In [2]:
import pandas as pd
file='/Users/liuyue36/PycharmProjects/data/ml-1m/ratings.dat'
data_df = pd.read_csv(file, sep="::", engine='python',
                     names=['UserId', 'MovieId', 'Rating', 'Timestamp'])

In [3]:
data_df.head()

   UserId  MovieId  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [4]:
data_df['avg_score'] = data_df.groupby(by='UserId')['Rating'].transform('mean')

In [5]:
data_df.head()

   UserId  MovieId  Rating  Timestamp  avg_score
0       1     1193       5  978300760   4.188679
1       1      661       3  978302109   4.188679
2       1      914       3  978301968   4.188679
3       1     3408       4  978300275   4.188679
4       1     2355       5  978824291   4.188679

In [6]:
data_df.tail()

         UserId  MovieId  Rating  Timestamp  avg_score
1000204    6040     1091       1  956716541   3.577713
1000205    6040     1094       5  956704887   3.577713
1000206    6040      562       5  956704746   3.577713
1000207    6040     1096       4  956715648   3.577713
1000208    6040     1097       4  956715569   3.577713

In [7]:
user_num, item_num = data_df['UserId'].max() + 1, data_df['MovieId'].max() + 1

In [8]:
user_num, item_num

(6041, 3953)

In [9]:
feature_columns = [[denseFeature('avg_score')],
                       [sparseFeature('user_id', user_num, latent_dim),
                        sparseFeature('item_id', item_num, latent_dim)]]

NameError: name 'denseFeature' is not defined